@mixin button($value) {
  padding: $value;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 14px;
  &:hover {
    background-color: #61dafb;
    color: white;
  }
}

button {
  @include button(10px);
}
input {
  padding: 5px 5px;
  margin: 20px 0;
}
